.Header
{
    display:flex;
    justify-content: space-around;
    height:13rem;
    flex-direction: column;

    margin-bottom:2rem;
   
}
.burgerMenu
{
    background-color:rgba(0,0,0,0.7);
    width:50px;
    height:45px;
    border-radius:10px;
    margin-left:0.5rem;
    position:fixed;
    top:10rem;
    left:1rem;
    background-color: #F6F6F6;
    box-shadow:-4px -4px 6px #fff,4px 4px 6px #dcd6d6;
    z-index:3;
} 
.burgerMenu:hover
{
    box-shadow: inset -3px -3px 6px #fff, inset 3px 3px 6px #dcd6d6;
}
.burgerMenuInternal
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50px;
    height:100%;
}
.burgerMenuInternal .bar1,
.burgerMenuInternal .bar2,
.burgerMenuInternal .bar3
{
    position:absolute;
     width:35px;
     height:3px;
     background-color:#F17516;
     border-radius:50px;
     left:8px;
}
.burgerMenuInternal .bar1
{
   top:25%;
  
}
.burgerMenuInternal .bar2
{
   top:45%;
}
.burgerMenuInternal .bar3
{
   top:65%;
}
@media (min-width:520px){
  
    .burgerMenu
    {
        display:none;
    }
   
}