.main {
  display: flex;
}
.upperMainContainer {
position:relative;
}
.sideFoldableNav {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 4px #000c;
  background-color: #131313;
}

.otherBodyContain {
  width: 95%;
  height: 92vh;
}

.navContainerLists {
  display: flex;
  flex-direction: row;
justify-content: center;
  margin-top: 0.5rem;
}

.navContainerListNavBtn {
  display: block;
  text-decoration: none;
  padding: 1.2rem 2rem;
  color: #fff;
  font-size: 2rem;
  font-family: "Montserrat";
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.NavIconText
{
  display: none;
}
.notiActive
{
    color:red;
}
@media (min-width: 520px) {
  .navContainerLists {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    width: 100%;
    list-style: none;
    height: 100%;
    margin-top: 0.2rem;
    font-family: "Montserrat";
    letter-spacing: 0.07rem;
  }
  .navContainerListBtn {
    display: flex;
  
    
    width:100%;


  }

  .navContainerListBtn:hover{
    background-color: #90b4c3;
    border-bottom: 2px solid #fff;
  }
  .navContainerListBtn:last-child{
  
    border-bottom:none;
  }
  .upperMainContainer {
 
    height: 100vh;
  }
  .sideFoldableNav {
    position: fixed;
    top:8px;
    left:0;
    width: 54px;
    height: 98vh;
    
   
  }
  .sideFoldableNavFullOpen{
  
    width:195px;
  
    z-index:10;
}

  .otherBodyContain {
    width: 96%;
    height: 100%;
    margin-left:54px;
  }
  .otherBodyContainBig{
   
    margin-left:53px;
  }
  .navContainerListNavBtn {
  
    height: 100%;
    font-size: 1.6rem;
   
  }
  .navContainerListNavBtn:hover{
    color:#fff;
  }
  .NavIconText
{
  display: inline-block;
  font-size: 1.7rem;
  margin-left: 1.3rem;
  text-transform:capitalize;
  font-family: "Montserrat";
  letter-spacing: 0.07rem;
}
#Home{
  margin-top:1rem;
margin-bottom: auto;
}
}
