
.main {
  display: flex;
  margin-top: 5rem;
}
.upperMainContainer {
position:relative;
}
.sideFoldableNav {
  z-index: 3;
  position: fixed;

  width: 100%;

  border-radius: 0.3rem;
  box-shadow: 1px 1px 4px #000c;
  background-color: #131313;
  display: flex;
  border-radius: 0.07rem;
 
}

.otherBodyContain {
  width: 95%;
  height: 92vh;
}

.navContainerLists {
  display: flex;
  flex-direction: row;
justify-content: center;
  margin-top: 0.5rem;
  max-width:54px;
  
}

.navContainerListNavBtn {
  display: block;
  text-decoration: none;
  padding: 1.2rem 2rem;
  color: #fff;
  font-size: 2rem;
  font-family: "Montserrat";
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.NavIconText
{
  display: none;
}
.notiActive
{
    color:red;
}

.bigBoxOpner
{
  display: none;
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  right: -22px;
  padding: 5px;
  background: #fff;
  font-family: "Montserrat";
  color: #131313;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  outline: none;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555),1px -1px 1px rgba(0, 0, 0, 0.555);
}
.bigBoxOpner:hover{
  background-color: #90b4c3;
  color:#fff;

}


  .navContainerLists {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    width: 100%;
    list-style: none;
    height: 100%;
    margin-top: 0.2rem;
    font-family: "Montserrat";
    letter-spacing: 0.07rem;
  }
  .navContainerListBtn {
    display: flex;
  
    border-bottom: 2px solid transparent;
    width:100%;

    position:relative;
  }

  .navContainerListBtn:hover{
    background-color: rgba(255, 255, 255, 0.808);
    border-bottom: 2px solid #fff;
 
  }
  .navContainerListBtn:last-child{
  
    border-bottom:none;
  }
  .upperMainContainer {
 
    height: 100vh;
  }
  .sideFoldableNav {
    position: fixed;
    top:0;
    left:0;
    /* width: 287px; */
    width:70px;
   
   
    height: 100%;
    transition:width 0.3s;
   
  }



  .otherBodyContain {
    width: 96%;
    height: 100%;
    margin-left:54px;
  }
  .otherBodyContainBig{
   
    margin-left:53px;
  }
  .navContainerListNavBtn {
  
    height: 100%;
    font-size: 1.6rem;
    
   
  }
  .navContainerListNavBtn:hover{
    color:#000;
  }
  .NavIconText
{
  display: inline-block;
  font-size: 1.7rem;
  margin-left: 1.3rem;
  text-transform:capitalize;
  font-family: "Montserrat";
  letter-spacing: 0.07rem;
  
}
#Home{
  margin-top:1rem;
margin-bottom: auto;
}
.bigBoxOpner
{
display: block;
}
.OtherInfoLists
{
width:100%;
padding: 2rem 2rem 2rem 2rem;
overflow: hidden;

}


.companyName
{
  font-size: 2.5rem;
  font-family: "Montserrat";
  color:#fff;
  margin-bottom: 2rem;
  display: none;

}
.OtherInfoListUl
{
  width: 213px;
  list-style: none;
  
  display:none;
  margin-bottom: 3px;
  
}
.OtherInfoListUlOpen{
  display: block;
}
.SubjectHeading
{
  
  padding: 12px 14px;
  border-radius: 0.07rem;
  background-color: #fff;
 font-size:1.6rem;
 display: flex;
 cursor: pointer;
 font-family: "Montserrat";
 align-items: center;
 letter-spacing: 0.03rem;
}
.SubjectLists
{
  list-style: none;
  
}

.SubjectListNav
{
  font-family: "Montserrat";
  display:block;
  width:100%;
  font-size:1.4rem;
  padding: 13px 10px;
  margin-bottom: 2px;
  letter-spacing: 0.1rem;
  font-weight: 700;
  
  color:#000;
  background-color: rgba(255, 255, 255, 0.808);
}

.OtherInfoList
{
  width:100%;
  overflow: hidden;
}

.OtherInfoListsShow{
  display: block;
}
.sideFoldableNavBig{
  width: 287px;
}
.dropShadow{
  position:fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.418);
  height:100%;
  width:0;
  z-index: 100;
  transition:width 0.3s;
  overflow: hidden;
}
.whiteSideScreen
{
  position:absolute;
  top:0;
  left:0;
  background-color: #f6f6f6;
  height:100vh;
  width:50%;
  z-index: 100;  
}
.closeWhiteScreenBtn
{
  position:absolute;
  top: 7%;
  left: 5%;
  
}
.closeWhiteScreenBtn button
{
  padding:7px 8px;
  border:none;
  font-size: 2rem;
  background-color: transparent;
}
.whiteScreenOpen{
  width:100%;
}

@media(max-width:600px)
{
  .whiteSideScreen
{
  width:100%;
}
}
