
.Subject{
    position: fixed;
    top:35%;
    width:35%;
    transform:translateX(-100%);
    z-index:0;
    
}


.SubjectInternalContainer
{
    background-color:rgba(219, 219, 219, 0.548);
    width:100%;
    height:20rem;
    top:15%;
    border:none;

}

.SubjectHeading
{
    width:100%;
    margin-bottom: 0.8rem;
   
}
.SubjectHeading h4{
    border-radius:0.7rem;
    font-family:'Montserrat';
    padding-top:0.3rem;
    text-align: center;
   height:2rem;
    font-size: 1rem; 
    color:#05B22D;
    font-weight: 400;
    width:80%;
    margin:auto;
    letter-spacing:0.1rem;
    background-color: #F6F6F6;
    box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.SubjectHeading h4 span{
  display:block;
    position:absolute;
    top:0%;
    right:0;
    width:15%;
    height:10%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color:#000;
    cursor: pointer;
}
.Opner{
    position:fixed;
    top:35%;
    left:0%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:none;
    background-color:#000;
    color:#fff;
    padding:0.5rem 1rem;
    font-family:'Montserrat';
}
.Opner:focus
{
    outline:none;
}
.SubjectOpenerCss{
    transform:translateX(0%);
}

.SubjectCloserCss{
    transform:translateX(-100%);
}

.OpnerDisplay{
    display:none;
}
.SubjectLists
{
    width:100%;
    height:50%;
}
.SubjectList
{
    list-style: none;
    width:100%;
    margin-bottom:1rem;
    padding-left:1rem;
}

.SubjectListNav
{
    text-decoration: none;
    display: block;
    padding-left:2rem;
    font-size:1rem;
    color: #F17516;
    letter-spacing: 0.1rem; 
    font-family:'Montserrat';
  
}



@media (min-width:520px)
{
.Subject
{
    position: relative;
 
    height:100vh;
    transform:translateX(0%);
    max-width:200px;
   
}

.SubjectInternalContainer
{
    background-color:transparent;
    position:absolute;
    top:0;
    border-right: 4px dotted #707070;
}

.SubjectHeading h4{
    border-radius:0.6rem;
    
}

.Opner{
    display:none;
}
.SubjectHeading h4 span{
display:none;
}
}

@media(min-width:600px)
{
    .SubjectHeading h4{
     
        font-size: 1.2rem; 
    }
}