
.Division
{
    display:flex;
    flex-direction: column;
    height:100vh;
}
.Top
{
    height:10%;
    
}
.Top h2{
    height:100%;
    display:flex;
    align-items: center;
    margin-left:3rem;
    font-size:1.5rem;
}
.Bottom
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Bottom h1{
    margin:2rem;
    font-family: 'Montserrat';
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    
    font-size:1.5rem;
}
/***************************************************************/
/******************************Box container or division**************/
/***************************************************************/

.DivisionContainer
{
    display:grid;
    grid-template-columns:repeat(2,90px);
    grid-template-rows:repeat(4,85px);
    grid-row-gap:28px;
    grid-column-gap:25px;
    justify-content: center;
    width:100%;
    height:auto;
    margin-top:1.7rem;
}

.box-disply
{
    display:grid;
}




/**************************body contain end****************************/


/*************************************responsive design start*******************************/

@media (min-width:700px)
{
    .Bottom h1{
      
        font-size:2rem;
    }
    .DivisionContainer
    {
    
        display:grid;
        grid-template-columns:repeat(2,115px);
        grid-template-rows:repeat(4,93px);
        grid-row-gap:28px;
        grid-column-gap:45px;
    }
}